.logo-anchor{
  color: black;
  background-color: white;
  text-decoration: none;
  align-self: center;
}

.anchor-button{
  color: black;
  background-color: white;
  text-decoration: none;
}

.navbar-container{
  display: flex;
  justify-content: space-around;
  align-content: baseline;
  border-bottom: 1px solid white;
}

.navbar a{
  color: black;
  background-color: white;
  text-decoration: none;
}

.navbar ul{
  list-style-type: none;
  display: inline;
}
.navbar li{
  display: flex;
  justify-content: space-around;
  text-align: center;
  float: left;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar li:not(:last-child){
  border-right: 1px solid black;
}
