{% extends 'form_base.html' %}

{% block head %}
    <title>User Authorization</title>
{% endblock %}

{% block body %}
    <div class="form-container">
        <form method="POST" action="" class="user-form {% if form_type != 'login' %}form-hidden{% endif %}" id="login">
            <h1 class="form-title">Sign In</h1>
            <div>{{ form.hidden_tag() }}</div>
            <div class="form-input">{{ form.username }}</div>
            <div class="form-input">{{ form.password }}</div>
            <div class="form-button">{{ form.submit }}</div>
            <div>
                <p class="form-link">
                    <a class="form-link" id="linkRegister"> Don't have an account? Register Here</a>
                </p>
            </div>
        </form>
        <form method="POST" action="" class="user-form {% if form_type != 'register' %}form-hidden{% endif %}" id="register">
            <h1 class="form-title">Create Account</h1>
            <div>{{ form.hidden_tag() }}</div>
            <div class="form-input">{{ form.username }}</div>
            <div class="form-input">{{ form.password }}</div>
            <div class="form-input">{{ form.email }}</div>
            <div class="form-input">{{ form.age }}</div>
            <div class="form-input">{{ form.birthday }}</div>
            <div class="form-button">{{ form.submit }}</div>
            <div>
                <p class="form-link">
                    <a class="form-link" id="linkLogin">Already have an account? Sign in</a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
