{% extends 'base.html' %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block body %}

    <div class="navbar-container">
        <a href="/" class="nav-links logo">Puso't Tulong</a>
        <ul class="nav-links">
            <li class="nav-links"><a href="/" class="nav-links">Home</a></li>
            <li class="nav-links"><a href="/login" class="nav-links">Login</a></li>
        </ul>
    </div>

    <div class="content-banner">
        <img src="{{ url_for('static', filename='images/home/background-2.jpg') }}" class="background-image">
        <div class="content-banner-info">
            <h1> Care to lend to a hand to a student </h1>
            <h2> Donate some old school materials </h2>
            <p>
                <a href="/register" class="form-button">Register Now</a>
            </p>
        </div>
    </div>

{% endblock %}