{% extends 'base.html' %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block body %}

<header>
    <div class="navbar-container">
        <a href="/" class="navbar">Puso't Tulong</a>
        <ul class="navbar">
            <li class="navbar"><a href="/" class="navbar">Home</a></li>
            <li class="navbar"><a href="/login" class="navbar">Login</a></li>
        </ul>
    </div>
</header>

<h1> Care to lend to a hand to a student </h1>
<h2> Donate some old school materials </h2>

<a href="/register" class="links">Register Now</a>

<footer>
    <p>&copy; 2024 Puso't Tulong Website. All rights reserved.</p>
</footer>

{% endblock %}