{% extends 'form_base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div class="form-container">
        <form method="POST" action="" class="user-form">
            <h1 class="form-title">Create Account</h1>
            <div>{{ form.hidden_tag() }}</div>
            <div class="form-input">{{ form.username }}</div>
            <div class="form-input">{{ form.password }}</div>
            <div class="form-input">{{ form.email }}</div>
            <div class="form-input">{{ form.age }}</div>
            <div class="form-input">{{ form.birthday }}</div>
            <div class="form-button">{{ form.submit }}</div>
            <div>
                <p class="form-link">
                    <a href="/login" class="form-link">Already have an account? Log-in here</a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
