{% extends 'base.html' %}

{% block head %}

    <title>Registration</title>

{% endblock %}

{% block body %}

    <h1>Registration Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.email }}
        {{ form.age }}
        {{ form.birthday }}
        {{ form.submit }}
    </form>

{% endblock %}

<footer>
    <div>
        <p>Already have an account? <a href="/login" class="anchor-button">Log-in here</a></p>
    </div>
</footer>
